<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeffrey.architecture">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.MvpMainActivity"
            android:label="@string/title_activity_mvp_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvvm.MvvmMainActivity"
            android:label="@string/title_activity_mvvm_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ribs.RibsMainActivity" />
        <activity
            android:name=".mvvm_db.MvvmDbMainActivity"
            android:label="@string/title_activity_mvvm_db_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".viper.ViperMainActivity"
            android:label="@string/title_activity_viper_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>